@charset "utf-8";

// Customize Bulma: https://bulma.io/documentation/customize/with-node-sass/
// See Bulma variables: https://bulma.io/documentation/customize/variables/
// https://github.com/jgthms/bulma/blob/master/sass/utilities/initial-variables.sass

// Import Bulma initial variables so you can modify them
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// Import fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

// Set your brand colors
$purple: #663399;
$orange: #ff6600;
$dark-orange: #d33e00;
$medium-blue: #307ab0;
$lt-blue: #7da8a9;
$green: #377f2e;

// Update Bulma global variables
$body-color: $black-ter;
$body-line-height: 1.6;
$family-sans-serif: "Lato", sans-serif;
$primary: $orange;
$link: $purple;
$info: $purple;
$success: $medium-blue;

$widescreen-enabled: true;
$fullhd-enabled: false;

// $tablet: 660px;

// Modified BG colors
$primary-lighter: lighten($primary, 40%);
.bg-primary-lighter {
  background-color: $primary-lighter;
}
$link-lighter: lighten($link, 50%);
.bg-link-lighter {
  background-color: $link-lighter;
}

// Update Bulma component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Updates to navbar
$navbar-height: 4rem;
$navbar-item-img-max-height: 2.75rem;
$navbar-breakpoint: 650px; // Custom per how many nav items are used! // $tablet|$desktop
@media only screen and (max-width: $desktop) {
  .navbar-menu {
    margin-right: 0.25rem !important;
  }
}

a:not(.navbar-item) {
  text-decoration: underline !important;
}

$card-content-padding: 1.25rem;

a.button {
  text-decoration: none !important;
}

.is-button-narrow-centered {
  max-width: 260px;
  margin: 0 auto;
}

$section-padding: 2rem 1.5rem !default;

$footer-background-color: $purple;
$footer-color: #fff;
$footer-padding: 2rem 1.5rem;

ul {
  margin-top: -0.75em !important;
}

.bg-img-meeting {
  background: linear-gradient(rgba(31, 14, 48, 0.88), rgba(31, 14, 48, 0.88)),
    url("../img/meeting.jpg") center center;
  background-size: cover;
}

.bg-img-learning {
  background: linear-gradient(rgba(77, 38, 116, 0.88), rgba(77, 38, 116, 0.88)),
    url("../img/learning.jpg") center center;
  background-size: cover;
}

.bg-img-training {
  position: relative;
  z-index: 1;
  border: 4px solid $link;
}

.bg-img-training:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background: url("../img/training-classroom.jpg") center center;
  opacity: 0.2;
}

.has-text-wrapped {
  overflow-wrap: break-word;
}

.bg-img {
  // background-image: url(https://picsum.photos/2000/1000/?image=876);
  // Add image via HTML page
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

// Parallax helpers
.has-parallax-fixed {
  background-attachment: fixed;
  overflow: hidden;
}
@media (max-device-width: 1366px) {
  .has-parallax-fixed {
    background-attachment: scroll;
  }
}

.has-shadow {
  box-shadow: rgba(0, 0, 0, 0.6) 5px 15px 30px -10px;
}

.is-circle {
  border-radius: 50%;
  border: 3px solid #fff;
  color: #fff !important;
  width: 7.25em;
  height: 7.25em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.is-circle-purple {
  @extend .is-circle;
  background-color: $purple;
  border-color: darken($purple, 15%);
}
.is-circle-orange {
  @extend .is-circle;
  background-color: $dark-orange;
  border-color: darken($dark-orange, 10%);
}
.is-circle-green {
  @extend .is-circle;
  background-color: $green;
  border-color: darken($green, 10%);
}
.is-circle-blue {
  @extend .is-circle;
  background-color: $success;
  border-color: darken($success, 15%);
}
.is-circle-darkblue {
  @extend .is-circle;
  background-color: darken($success, 20%);
  border-color: darken($success, 35%);
}

.is-centered {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .reverse-columns {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start !important;
  }
}

@media (min-width: 768px) {
  .reverse-row-order {
    flex-direction: row-reverse;
  }
}

img.has-radius {
  border-radius: 12px;
}

.text-is-medium-width {
  max-width: 800px;
}

.is-flex-column {
  display: flex !important;
  flex-direction: column;
}

.flex-item-bottom {
  margin-top: auto;
  flex: none;
}

.has-no-bottom {
  margin-bottom: 0 !important;
}

// Import all modules from Bulma
@import "../../node_modules/bulma/bulma.sass";

// Import only what you need from Bulma
// @import "../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/elements/button.sass";
// @import "../../node_modules/bulma/sass/elements/container.sass";
// @import "../../node_modules/bulma/sass/elements/title.sass";
// @import "../../node_modules/bulma/sass/form/_all.sass";
// @import "../../node_modules/bulma/sass/grid/_all.sass";
// @import "../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";
// @import "../../node_modules/bulma/sass/layout/section.sass";

// Responsive font sizing
html {
  font-size: 16px;
  @include widescreen {
    font-size: 1.2em; // from 1216px
  }
  @include fullhd {
    font-size: 1.4em; // from 1408px
  }
}
